<div class="container mx-auto xl:grid grid-cols-4 xl:gap-4">
    <div class="w-full bg-white rounded-lg my-6 xl:my-0" *ngFor="let data of size">
        <img src="../../../assets/Rectangle 166.png" class="w-full rounded-t-lg" />
        <div class="p-4">
            <p class="text-sm">For Sale</p>
            <h1 class="text-xl font-bold pt-3 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            <p class="text-sm text-black/50 pt-2 pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec nulla commodo, dictum sem sit amet, sollicitudin velit. Mauris accumsan scelerisque lorem, a porttitor elit. Nunc nisi magna, vehicula non imperdiet quis, accumsan quis leo. Mauris elementum velit vel semper pellentesque. Vestibulum volutpat faucibus lobortis.</p>
            <h1 class="font-work text-3xl text-orange font-bold">$849.23</h1>
        </div>
    </div>
</div>